h1 {
  text-align: center;
}

#keys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 25px;
}

.white {
    height: 500px;
    width: 30px;
    border: 1px solid black;
  }

.black {
  background-color: black;
  height: 300px;
  color: white;
}

.note {
  flex: 1;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
}

#demo {
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}